name = "openai-wrapper"
main = "src/index.js"
compatibility_date = "2023-04-23"

[vars]
OPEN_AI_API_KEY = "<token>"
BOT_TOKEN = "<token>"
BOT_OWNER_ID = "<id (numerical)>"
CF_ACCOUNT_IDENTIFIER = "<account identifier>"
CF_KV_NAMESPACE_IDENTIFIER = "<namespace identifier>"
CF_API_TOKEN = "<token>"
AI_PERSONALITY = ""
